<span class="airport-item">
  <strong class="airport-name">{{airportName}} <small>({{airportCode}})</small></strong>
  <p class="airport-location">{{cityName}}{{#stateCode}}, {{stateCode}}{{/stateCode}}, {{countryName}} <span class="flag-icon flag-icon-{{flag}}"></span></p>
</span>